body
{
    font-family: 'Courier New';
    font-size: small;
}
.But
{
    height: 15px;
}
.Txt
{
font-family: 'Courier New';
    font-size: small;
    background-color: #C0C0C0;
    border: medium outset #808080;
    height: 15px;
}

